/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --purple: #8147fd;;
    --green: #04cfbb;
}

li{list-style-type: none;}
a{text-decoration: none;}