/* font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --purple: #8147fd;;
    --green: #04cfbb;
}

li{list-style-type: none;}
a{text-decoration: none;}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(3px);
    background: url('../images/bg.png');
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border: 2px solid var(--dark);
}

.main-content{
    background: var(--dark);
    position: relative;
    width: 80%;
    min-height: 100vh;
    margin-left: 20%;
    color: white;
    transition: all 500ms ease;
}