:root{
    --dark-dark: hsl(225deg 17% 9%);
    --dark: hsl(220deg 19% 6% / 92%);
}

body{overflow-x: hidden;}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background: var(--dark-dark);
    color: white;
    overflow:hidden;
    z-index: 3;
    transition: width 500ms ease;
}

.sidebar .logo{
    height: 10vh;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3vh;
    border-bottom: 5px solid var(--purple);
}

.sidebar .nav{
    padding: 69px 0;
}
.sidebar .nav ul li a{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.sidebar .nav ul li .active, .sidebar .nav ul li a:hover{
    background: white;
}

.sidebar .nav ul li .active i,.sidebar .nav ul li .active .text,
.sidebar .nav ul li a:hover i, .sidebar .nav ul li a:hover .text{color: black;}

.sidebar .nav li .icon i{
    color: white;
    margin-right: 25px;
}

.sidebar .nav li .text{
    color: white;
    font-family: 'poppins';
    font-size: 1.2em;
}

.social-icons ul{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2em;
    display: flex;
    z-index: 5;
    transition: all 500ms ease;
}

.social-icons i{
    color: white;
    margin: 10px;
}

.social-icons i:hover{
    color: grey;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    height: 10vh;
    position: relative;
    z-index: 2;
    background: var(--dark);
}

header .left{
    display: flex;
    align-items: center;
}

header .left .hamburger{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
}

.main-content .left i{
    font-size: 2em;
}

header .right{
    display: flex;
    align-items: center;
}

header .right .pfp img{
    width: 50px;
    height: 50px;
    margin: 0 1em;
}

header .right .name{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#nav-toggle{display: none;}
#nav-toggle:checked + .sidebar{
    width: 4vw;
}

#nav-toggle:checked + .sidebar .nav span:last-child{
    display: none;
}

#nav-toggle:checked + .sidebar .nav ul li a{
    display: flex;
    justify-content: center;
}

#nav-toggle:checked + .sidebar .logo{
    font-size: 1em;
    border: none;
    margin-top: 1em;
}

#nav-toggle:checked ~ .main-content{
    margin-left: 3%;
    width: 97vw;
}

#nav-toggle:checked ~ .social-icons ul{
    margin-left: 1em;
    flex-direction: column;
}

main{
    padding: 3% 5%;
    z-index: 2;
    position: relative;
}

main .me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    padding: 0 40px;
}

main .add-task-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--green);
}

main .add-task-btn i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .add-task-btn:hover i{
    color: black
}
main .title{
    display: inline-block;
    font-family: 'Roboto Slab', serif; 
    font-size: 3em;
    border-bottom: 4px solid var(--green);
}

.main .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    background: #292a2c;
    box-shadow: rgb(0 0 0 / 15%) -69.091px 72.9294px 121.549px, rgb(0 0 0 / 11%) -49.8991px 56.2964px 70.002px, rgb(0 0 0 / 9%) -81.8857px 69.091px 38.0722px;
    font-family: 'Montserrat', sans-serif;
}

.main .task .text{
    width: 60%;
}

.main .task .head{
    display: flex;
    align-items: center;
}

.main .task .name{
    font-size: 2em;
    font-family: 'Poppins';
    margin-bottom: 10px;
}

.main .task .points{
    margin-left: 4em;
}

.main .task .points:before{
    content: '';
    position: absolute;
    transform: translate(-20px, 50%);
    padding: 5px;
    border-radius: 50%;
    background: var(--green);
}
.main .progress-indicator{
    display: flex;
    align-items: center;
    margin-bottom: 4em;
}

.main .progress-indicator .number{
    position: absolute;
    font-family: 'Poppins';
    font-weight: bold;
    padding: 0 0 10px 10px;
}

.main .progress-indicator .progress-bar{
    position: relative;
    padding: 15px 50%;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                -5px -5px 15px rgba(255, 255, 255, 0.05);
}

.main .progress-indicator .progress-bar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* width: calc((10/100) * 100%); */
    height: 20px;
    background: var(--purple);
}

/* ---------- Media queries ---------- */  
.icons input{
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 14px;
    background: transparent;
    font-family: 'poppins';
    font-size: 1.2em;
    border: none;
    color: grey;
}

.employees{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 0 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
  }
.employees form{
    display: flex;
    color: grey;
    cursor: pointer;
}

.employees form #users{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    background: white;
    color: grey;
}

.employees form input{
    text-transform: uppercase;
    padding: 5px 10px;
    background: transparent;
    font-family: 'poppins';
    border: none;
    color: grey;
}

.employees #users option:hover{
    color: var(--purple);
}

.employees input:hover{
    color: var(--purple);
}

@media all and (max-width:1200px){
    #nav-toggle:checked ~ .main-content {
        margin-left: 7%;
        width: 93vw;
    }
    #nav-toggle:checked + .sidebar{width: 7vw;}
    .main .task{
        flex-direction: column;
    }
    .employees{
        margin-top: 1em;
    }
}

@media all and (max-width:1000px){
    .sidebar{width: 30vw;}
    .main-content{margin-left: 30%;}
    .main .task .text {
        width: 100%;
    }
}

@media all and (max-width:750px){
    .employees .dropdown{width: 100%;}
    #nav-toggle:checked ~ .main-content {
        margin-left: 10%;
        width: 90vw;
    }
    #nav-toggle:checked + .sidebar{width: 10vw;}
}

@media all and (max-width:620px){
    .employees, .main .task .text{
        width: 90%;
    }
    .sidebar{width: 50vw;}
    .main-content{margin-left: 50%;}
}