<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 | Willy Wonka's</title>
    <link rel="stylesheet" href="../static/css/parent.css">
    <link rel="stylesheet" href="../static/css/403.css">
</head>
<body>
    <div class="main">
        <div class="box">
            <nav>
                <div class="logo">Willy Wonka's</div>
                <div class="navbar">
                    <ul>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
            <div class="title">400</div>
            <div class="subtitle">Hey Oompa Loompa, you have come to a <br> wrong address for coco beans!</div>
        </div>
    </div>
</body>
</html>