
{% if not edit %}
<form method="post" action="/tasks/add/submit">
    <input name="name" placeholder='name' type="text" required>
    <input name='description' placeholder="description" type="text" required>
    <input name='deadline' placeholder="deadline" type="date" required>
    <input name="points" placeholder="points" type="number" required>
    <input type='submit'>
</form>
    {% endif %}
    {% if edit %}
    <form method="post" action="/tasks/edit/{{ id }}/submit">
    <input name="name" placeholder='name' type="text" value="{{ data['name'] }}" required>
    <input name='description' placeholder="description" type="text" value="{{ data['description'] }}" required>
    <input name='deadline' placeholder="deadline" type="date" value="{{ data['deadline'] }}" required>
    <input name="points" placeholder="points" type="number" value="{{ data['points'] }}" required>
    <input type='submit'>
    {% endif %}
</form>
