<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fuck</title>
    <link rel="stylesheet" href="../static/css/parent.css">
    <link rel="stylesheet" href="../static/css/dashboards.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="logo">Logo</div>
            <div class="nav">
                <ul>
                    <li><a href=""><span class="icon"><i class="fas fa-hourglass-half"></i></span><span class="text">Dashboard</span></a></li>
                    <li><a href=""><span class="icon"><i class="fas fa-signal"></i></span><span class="text">Stats</span></a></li>
                    <li><a href=""><span class="icon"><i class="fas fa-coins"></i></span><span class="text">Rewards</span></a></li>
                    <li><a href=""><span class="icon"><i class="fas fa-info"></i></span><span class="text">Info</span></a></li>
                </ul>
            </div>
        </div>
        <div class="social-icons">
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fas fa-newspaper"></i></a></li>
            </ul>
        </div>

        <header>
            <div class="left">
                <div class="hamburger">
                    <div class="ham-line"></div>
                    <div class="ham-line"></div>
                    <div class="ham-line"></div>
                </div>
                <div class="dashboard">Dashboard</div>
            </div>
            <div class="right">
                <div class="pfp">
                    <img src="../static/images/user.png" alt="">
                </div>
                <div class="name">John Doe</div>
            </div>
        </header>
    </div>
</body>
</html>