
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback | Willy Wonka's</title>
    <link rel="stylesheet" href="../static/css/parent.css">
    <link rel="stylesheet" href="../static/css/tasks.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@400;700&display=swap"
        rel="stylesheet">
</head> 

<body>
    <div class="main">
        <input type="checkbox" name="" id="nav-toggle">
        <div class="sidebar">
            <div class="logo">Willy Wonka's</div>
            <div class="nav">
                <ul>
                    <li><a href="/dashboard" ><span class="icon"><i class="fas fa-hourglass-half"></i></span><span
                                class="text">Dashboard</span></a></li>
                    <li><a href="/tasks"><span class="icon"><i class="fas fa-signal"></i></span><span
                                class="text">Tasks</span></a></li>
                    <li><a href="/rewards"><span class="icon"><i class="fas fa-coins"></i></span><span
                                class="text">Rewards</span></a></li>
                    <li><a href="" class="active"><span class="icon"><i class="fas fa-comment"></i></span><span
                        class="text">Feedback</span></a></li>   
                        <li><a href="/training"><span class="icon"><i class="fas fa-school"></i></span><span
                            class="text">Training</span></a></li>          
                        {% if admin %}
                        <li><a href="/workers"><span class="icon"><i class="fas fa-info"></i></span><span
                                    class="text">Workers</span></a></li>
                        {% endif %}
                        <li><a href="/logout"><span class="icon"><i class="fas fa-sign-out-alt"></i></span><span
                            class="text">Logout</span></a></li>
                </ul>
            </div>
        </div>
        <div class="social-icons">
            <ul>
                <li><a href="https://facebook.com/codetechbvn" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/codetech.bvn" target='_blank'><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://github.com/bvncodetech" target='_blank'><i class="fab fa-github"></i></a></li>
                <li><a href="https://teamcodetech.in" target="_blank"><i class="fas fa-globe"></i></a></li>
            </ul>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert" id="alert">
                <div></div>
                <div>{{ message }}</div>
                <div></div>
            </div>
            <script>
                var flash = document.getElementById("alert");
                setTimeout(function(){ flash.style.opacity = "0"; }, 3000);
                setTimeout(function(){ flash.remove(); }, 3600);
            </script>
            {% endfor %}
          {% endif %}
          {% endwith %}
        <div class="main-content">
            <div class="overlay"></div>
            <header>
                <div class="left">
                    <label for="nav-toggle">
                        <i class="fas fa-bars"></i>
                    </label>
                </div>
                <div class="right">
                    <div class="pfp">
                        <img src="../static/images/user.png" draggable="false" alt="">
                    </div>
                    <div class="name">{{ name }}</div>
                </div>
            </header>

            <main>
                <div class="head">
                    <div class="title">Anonymous Feedback</div>
                </div>
                {% for feed in unread_feedback %}
                <div class="task">
                    <div class="text">

                        <div class="desc">{{ feed['feedback'] }}</div>
                    </div>
                    <div class="employees">
                        <form action="/feedback/read/{{ feed['unique_id'] }}" method="post">
                            <input type="submit" value="Mark as read">
                          </form>
                    </div>
                </div>
                
                {% endfor %}
                <br>
                <div class="head">
                    <div class="title">Read Feedback</div>
                </div>
                {% for feed in read_feedback %}
                <div class="task">
                    <div class="text">

                        <div class="desc">{{ feed['feedback'] }}</div>
                    </div>
                    <div class="employees">
                        <form action="/feedback/delete/{{ feed['unique_id'] }}" method="post">
                            <input type="submit" value="Delete">
                          </form>
                    </div>
                </div>
                
                {% endfor %}

            </main>
            
        </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="../static/js/dropdown.js"></script>

</html>