<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willy Wonka's</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/parent.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">Willy Wonka's</div>
            <div class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="text">
                <div class="title">This is title</div>
                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cupiditate, quidem ipsa commodi
                    dignissimos aliquid distinctio eum nulla neque laborum. Hic possimus deleniti error quo assumenda
                    dolores nemo architecto non?
                </div>
                <button class="btn">Get started!</button>
            </div>
        </div>
    </header>
</body>
</html>