<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Willy Wonka's</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    
    <div class="container">
        <h1>Login</h1>
        <form action="/login/submit" method="post">
            <div class="txt_field">
                <input type="email" name="email" id="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit">
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert" id="alert">
            <div></div>
            <div>{{ message }}</div>
            <div></div>
        </div>
        <script>
            var flash = document.getElementById("alert");
            setTimeout(function(){ flash.style.opacity = "0"; }, 3000);
            setTimeout(function(){ flash.remove(); }, 3600);
        </script>
        {% endfor %}
      {% endif %}
      {% endwith %}

</body>
</html>


